html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    transform: rotateY(180deg);
    transition: 0.6s;
    transform-style: preserve-3d;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: rotate-scale-up 0.65s linear both;
}

.deck .card.nomatch {
    cursor: default;
    background: #f00;
    font-size: 33px;
    animation: shake 0.8s ease-in-out both;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 1.2em;
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    display: inline-block;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 30px;
}

.score-panel .timer {
    display: inline-block;
    margin-left: 2px;
}

/*
 * Styles for the Game Over Modal
 */

.gameOver {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    /* Fallback background color */
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .1);
}

.content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border: 2px solid #ccc;
    width: 80%;
    text-align: center;
}

.fa-times {
    color: rgb(0, 128, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fa-times:hover,
.fa-times:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fa-trophy {
    color: rgb(0, 128, 0);
    border: 2px solid rgba(0, 128, 0, .2);
    border-radius: 100%;
    padding: 40px;
}

.congrat {
    font-size: 2em;
    color: rgb(0, 128, 0);
}

.leaderboard {
    border: 2px solid rgba(0, 128, 0, .2);
    margin: 30px auto;
}

.fa-users {
    color: rgb(0, 128, 0);
    border-bottom: 2px solid rgba(0, 128, 0, .2);
    padding: 20px;
}

.leaderboard li {
    list-style: none;
}

.playAgain {
    background-color: #fff;
    color: rgba(0, 128, 0, 1);
    font-size: 1em;
    font-weight: bold;
    padding: 1em 2em;
    cursor: pointer;
    border: none;
}

.playAgain:hover,
.playAgain:focus {
    background-color: rgb(0, 128, 0);
    color: #fff;
    font-size: 1em;
    padding: 1em 2em;
    cursor: pointer;
    border: none;
}

/*
 * Styles for the Game Card Animations
 */
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(.5) rotateZ(0);
            transform: scale(.5) rotateZ(0);
  }
  
  50% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}